<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="XMLBookingAPI" value="EETXMLConnectAPI" />
    <add key="XMLServiceName" value="EETXMLFileReader" />
    <add key="XMLToBooking" value="EETXMLToBooking" />
    <add key="DBPoolTime" value="10800" />
    <add key="DBConn" value="Encrypt(Password=Elevate@123;Persist Security Info=True;User ID=sa;Initial Catalog=NewColumbus_EETAccount;Data Source=192.168.0.108\MSSQL2019Elevate)" />
    <add key="XMLFilePath" value="C:\WebQnex\EET\AccountsModule\reservation_new" />
    <add key="ErrorXMLFilePath" value="C:\WebQnex\EET\AccountsModule\ErrorXML" />
    <add key="SuccessXMLFilePath" value="C:\WebQnex\EET\AccountsModule\SuccessXML" />
    <add key="NoDataxmlFilePath" value="C:\WebQnex\EET\AccountsModule\NoDataXML" />
    <add key="LogxmlFilePath" value="C:\WebQnex\EET\AccountsModule\Log" />
    <add key="webServiceUrl" value="https://online.eet.ae/xYz85g36a47P9/?test=1" />
  </appSettings>
 

  <connectionStrings>
    <add name="strDBConnection" connectionString="data source=192.168.0.108\MSSQL2019Elevate;persist security info=True;initial catalog=NewColumbus_EETAccount;user id=sa;pwd=Elevate@123;Connect Timeout=200; pooling='true'; Max Pool Size=200" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
